*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    .container{
        width: 80%;
        margin: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            width: 20%;
            h1{
                font-family: 'Anton', sans-serif;
                color:rgb(253, 95, 0);
                font-size: 32px;
                font-weight: 900;
                letter-spacing: 2;
            }
        }
        nav{
            width: 45%;
            display: flex;
            justify-content: center;
            align-items: center;
            ul{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: 400;
                        color: black;
                        transition: 0.5s;
                        &:hover{
                            cursor: pointer;
                            color: rgb(253, 95, 0);
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
        .menu{
            display: none;
        }
        .offScreenMenu{
            width: 100%;
            background-color: white;
            display: none;
            justify-content: center;
            align-items: center;
            height: 50vh;
            max-width: 600px;
            position: fixed;
            top: 79px;
            left: 0;
            transition: .3s ease;
            ul{
                width: 90%;
                border: 2px solid rgb(253, 95, 0);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 10px;
                padding: 20px 10px;
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: 400;
                        color: rgb(78, 78, 78);
                        transition: 0.5s;
                        &:hover{
                            color: rgb(253, 95, 0);
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
        .basket{
            width: 5%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            a{
                text-decoration: none;
                i{
                    font-size: 20px;
                    color: rgb(60, 60, 60);
                }
                transition: 0.5s;
                &:hover{
                    color: rgb(253, 95, 0);
                    transition: 0.5s;
                }
            }
            .number{
                font-size: 12px;
                font-weight: 600;
                // background-color: rgba(254, 146, 83, 0.423);
                position: absolute;
                top: -15px;
                left: 60px;
            }
        }
    }
}

#bgImg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
        }
    }
}

#feedBack{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .firstCard{
            width: 33,33%;
            background-color: rgb(78, 78, 78);
            display: flex;
            justify-content: center;
            align-items: center;
            .cardText{
                border: 2px solid rgb(147, 147, 147);
                width: 88%;
                padding: 30px;
                margin: 30px 0;
                display: flex;
                flex-direction: column;
                gap: 10px;
                h2{
                    font-family: 'Anton';
                    color: white;
                    font-size: 36px;
                    font-weight: 400;
                }
                p{
                    color: rgb(147, 147, 147);
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
        .secondCard{
            background-color: rgb(253, 95, 0);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33,33%;
            .cardText{
                border: 2px solid rgb(254, 147, 83);
                width: 88%;
                padding: 30px;
                margin: 30px 0;
                display: flex;
                flex-direction: column;
                gap: 10px;
                h2{
                    font-family: 'Anton';
                    color: white;
                    font-size: 36px;
                    font-weight: 400;
                }
                p{
                    color: rgb(254, 147, 83);
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
        .thirtyCard{
            background-color: rgb(162, 49, 49);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33,33%;
            .cardText{
                width: 88%;
                padding: 30px;
                margin: 30px 0;
                border: 2px solid #CC8D8D;
                display: flex;
                flex-direction: column;
                gap: 10px;
                h2{
                    font-family: 'Anton';
                    color: white;
                    font-size: 36px;
                    font-weight: 400;
                }
                p{
                    color: #CC8D8D;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
    }
}

#contentBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    .container{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 0;
        .contentsCards{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            .contentsCard{
                background-color: rgba(85, 107, 47, 0.099);
                border: 3px solid rgb(254, 147, 83);
                border-radius: 5px;
                width: 30%;
                // height: 500px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 20px 5px;
                .cardImg{
                    width: 100%;
                    height: 250px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 90%;
                        height: 250px;
                        border-radius: 3px;
                    }
                }
                .cardText{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    padding: 5px;
                    gap: 10px;
                    h3{
                        font-family: 'Anton';
                        color: rgb(253, 95, 0);
                        font-size: 24px;
                        font-weight: 500;
                    }
                    p{
                        color: rgb(147, 147, 147);
                        font-size: 18px;
                        font-weight: 400;
                    }
                    span{
                        color: rgb(255, 98, 0);
                        font-size: 22px;
                        font-weight: 700;
                    }
                    .btnBox{
                        width: 90%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        button{
                            background-color: transparent;
                            border: 2px solid rgb(254, 147, 83);
                            border-radius: 3px;
                            color: rgb(253, 95, 0);
                            font-size: 18px;
                            font-weight: 400;
                            padding: 5px 10px;
                            transition: 1s;
                            &:hover{
                                transition: 1s;
                                cursor: pointer;
                                background-color: rgba(253, 97, 0, 0.162);
                            }
                        }
                    }
                }
            }
        }
    }
}

#ourLeadership{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    .container{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px 0;
        .ourLeadershipText{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 40px 0;
            h2{
                font-family: 'Anton';
                font-size: 64px;
                font-weight: 400;
                color: black;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                color: rgb(147, 147, 147);
            }
        }
        .ourLeaderShipCards{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin: 40px 0;
            .ourLeaderShipCard{
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 30px 0;
                gap: 40px;
                border: 1px solid rgba(147, 147, 147, 0.411);
                border-radius: 5px;
                .cardImg{
                    width: 40%;
                    img{
                        width: 100%;
                        border-radius: 50%;
                    }
                }
                .cardText{
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    gap: 20px;
                    span{
                        font-size: 12px;
                        font-weight: 400;
                        color:rgb(184, 184, 184);
                    }
                    p{
                        font-size: 16px;
                        font-weight: 400;
                        color: rgb(147, 147, 147);
                    }
                    .iconBox{
                        width: 50%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 5px;
                        i{
                            display: flex;
                            justify-content: center;
                            border-radius: 5px;
                            border: 2px solid rgb(253, 95, 0);
                            width: 30%;
                            padding: 10px 15px;
                            color: white;
                            background-color: rgb(253, 95, 0);
                            transition: 0.3s;
                            &:hover{
                                transition: 0.3s;
                                border: 2px solid rgb(253, 95, 0);
                                color: rgb(253, 95, 0);
                                background-color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}

#ourBlog{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    .container{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px;
        .ourBlogText{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 40px 0;
            h2{
                font-family: 'Anton';
                font-size: 64px;
                font-weight: 400;
                color: black;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                color: rgb(147, 147, 147);
            }
        }
        .ourBlogCards{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 40px;
            .ourBlogCard{
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                .cardImg{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
                .cardText{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    h3{
                        font-family: 'Anton';
                        font-size: 32px;
                        font-weight: 600;
                        color: rgb(253, 95, 0);
                        transition: 1s;
                        &:hover{
                            color:rgb(177, 66, 0);
                            cursor: pointer;
                            transition: 1s;
                        }
                    }
                    h6{
                        font-size: 13px;
                        font-weight: 400;
                        color: rgb(108, 117, 125);
                        span{
                            color: rgb(253, 95, 0);
                            transition: 1s;
                            &:hover{
                                transition: 1s;
                                cursor: pointer;
                                color: rgb(177, 66, 0);
                            }
                        }
                    }
                    p{
                        color: rgb(147, 147, 147);
                        font-size: 16px;
                        font-weight: 400;
                    }
                    a{
                        text-decoration: none;
                        color: rgb(253, 95, 0);
                        font-size: 16px;
                        font-weight: 400;
                        transition: 1s;
                        &:hover{
                            transition: 1s;
                            color: rgb(177, 66, 0);
                        }
                    }
                }
            }
        }
    }
}

footer{
    background-color: rgb(51, 51, 51);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 40px 0;
        .footerTop{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin: 40px 0;
            .aboutUs{
                width: 25%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 15px;
                h4{
                    font-family: 'Anton';
                    font-size: 16px;
                    font-weight: 500;
                    color: white;
                }
                p{
                    font-size: 16px;
                    font-weight: 400;
                    color: rgb(115, 115, 115);
                }
            }
            .feature{
                width: 25%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 15px;
                h4{
                    font-family: 'Anton';
                    font-size: 16px;
                    font-weight: 500;
                    color: white;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    li{
                        list-style: none;
                        font-weight: 400;
                        color: rgb(147, 147, 147);
                        transition: 1s;
                        &:hover{
                            cursor: pointer;
                            color: white;
                            transition: 1s;
                        }
                    }
                }
            }
            .paragraph{
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 25px;
                .someParagraph{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 15px;
                    h4{
                        font-family: 'Anton';
                        font-size: 16px;
                        font-weight: 500;
                        color: white;
                    }
                    p{
                        font-size: 16px;
                        font-weight: 400;
                        color: rgb(115, 115, 115);
                    }
                }
                .subscribe{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 10px;
                    h4{
                        font-family: 'Anton';
                        font-size: 16px;
                        font-weight: 500;
                        color: white;
                    }
                    form{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        input{
                            width: 60%;
                            border: none;
                            outline: none;
                            padding: 10px 15px;
                            border-top-left-radius: 5px;
                            border-bottom-left-radius: 5px;
                        }
                        button{
                            width: 40%;
                            padding: 10px 15px;
                            border: none;
                            border-top-right-radius: 5px;
                            border-bottom-right-radius: 5px;
                            background-color: rgb(253, 95, 0);
                            color: white;
                            transition: 1s;
                            &:hover{
                                cursor: pointer;
                                background-color: rgb(177, 66, 0);
                                transition: 1s;
                            }
                        }
                    }
                }
                .iconBox{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 10px;
                    h4{
                        font-family: 'Anton';
                        font-size: 16px;
                        font-weight: 500;
                        color: white;
                    }
                    .icons{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 30px;
                        i{
                            font-size: 16px;
                            color: rgb(147, 147, 147);
                            transition: 1s;
                            &:hover{
                                cursor: pointer;
                                transition: 1s;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
        .footerBottom{
            width: 100%;
            margin: 40px 0;
            border-top: 1px solid rgba(147, 147, 147, 0.407);
            padding-top: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                font-size: 16px;
                font-weight: 400;
                color:rgb(115, 115, 115);
            }
        }
    }
}




@media screen and (min-width: 300px) and (max-width: 576px) {
    header{
        width: 100%;
        .container{
            width: 95%;
            display: flex;
            justify-content: space-between;
            .logo{
                width: 50%;
                h1{
                    font-size: 26px;
                    letter-spacing: 2;
                }
            }
            nav{
                display: none;
            }
            .menu{
                width: 10%;
                display: block;
                i{
                    width: 100%;
                    color: black;
                    font-size: 20px;
                }
            }
           
            .basket{
                width: 15%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                a{
                    text-decoration: none;
                    i{
                        font-size: 22px;
                        color: rgb(60, 60, 60);
                    }
                    transition: 0.5s;
                    &:hover{
                        color: rgb(253, 95, 0);
                        transition: 0.5s;
                    }
                }
                .number{
                    font-size: 12px;
                    font-weight: 600;
                    // background-color: rgba(254, 146, 83, 0.423);
                    position: absolute;
                    top: -15px;
                    left: 65px;
                }
            }
        }
    }
    #bgImg{
        width: 100%;
        .container{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
    #feedBack{
        width: 100%;
        .container{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .firstCard{
                width: 100%;
                .cardText{
                    h2{
                        font-size: 24px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
            .secondCard{
                width: 100%;
                .cardText{
                    h2{
                        font-size: 24px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
            .thirtyCard{
                width: 100%;
                .cardText{
                    h2{
                        font-size: 24px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    #contentBox{
        width: 100%;
        .container{
            width: 90%;
            .contentsCards{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 20px;
                .contentsCard{
                    width: 90%;
                    // height: 400px;
                    // .cardImg{
                    //     width: 100%;
                    //     height: 200px;
                    //     img{
                    //         width: 90%;
                    //         height: 200px;
                    //     }
                    // }
                }
            }
        }
    }
    #ourLeadership{
        width: 100%;
        .container{
            width: 90%;
            .ourLeadershipText{
                width: 100%;
                h2{
                    font-size: 32px;
                    font-weight: 500;
                }
            }
            .ourLeaderShipCards{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin: 40px 0;
                gap: 20px;
                .ourLeaderShipCard{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    #ourBlog{
        width: 100%;
        .container{
            width: 90%;
            .ourBlogText{
                width: 70%;
                h2{
                    font-size: 32px;
                }
            }
            .ourBlogCards{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 30px;
                .ourBlogCard{
                    width: 100%;
                    .cardImg{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    footer{
        width: 100%;
        .container{
            width: 90%;
            .footerTop{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 30px;
                .aboutUs{
                    width: 100%;
                }
                .feature{
                    width: 90%;
                }
                .paragraph{
                    width: 90%;
                }
            }
            .footerBottom{
                width: 100%;
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    header{
        width: 100%;
        .container{
            width: 95%;
            display: flex;
            justify-content: space-between;
            .logo{
                width: 50%;
                h1{
                    font-size: 30px;
                    letter-spacing: 3;
                }
            }
            nav{
                display: none;
            }
            .menu{
                width: 10%;
                display: block;
                i{
                    width: 100%;
                    color: black;
                    font-size: 22px;
                }
            }
            .basket{
                width: 10%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                a{
                    text-decoration: none;
                    i{
                        font-size: 22px;
                        color: rgb(60, 60, 60);
                    }
                    transition: 0.5s;
                    &:hover{
                        color: rgb(253, 95, 0);
                        transition: 0.5s;
                    }
                }
                .number{
                    font-size: 12px;
                    font-weight: 600;
                    // background-color: rgba(254, 146, 83, 0.423);
                    position: absolute;
                    top: -15px;
                    left: 65px;
                }
            }
        }
    }
    #bgImg{
        width: 100%;
        .container{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
    #feedBack{
        width: 100%;
        .container{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .firstCard{
                width: 100%;
                .cardText{
                    h2{
                        font-size: 30px;
                        letter-spacing: 2;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
            .secondCard{
                width: 100%;
                .cardText{
                    h2{
                        font-size: 30px;
                        letter-spacing: 2;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
            .thirtyCard{
                width: 100%;
                .cardText{
                    h2{
                        font-size: 30px;
                        letter-spacing: 2;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }
    #contentBox{
        width: 100%;
        .container{
            width: 90%;
            .contentsCards{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 20px;
                .contentsCard{
                    width: 48%;
                }
            }
        }
    }
    #ourLeadership{
        width: 100%;
        .container{
            width: 90%;
            .ourLeadershipText{
                width: 100%;
                h2{
                    font-size: 32px;
                    font-weight: 500;
                }
            }
            .ourLeaderShipCards{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin: 40px 0;
                gap: 20px;
                .ourLeaderShipCard{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    #ourBlog{
        width: 100%;
        .container{
            width: 90%;
            .ourBlogText{
                width: 70%;
                h2{
                    font-size: 32px;
                }
            }
            .ourBlogCards{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 30px;
                .ourBlogCard{
                    width: 100%;
                    .cardImg{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    footer{
        width: 100%;
        .container{
            width: 90%;
            .footerTop{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 30px;
                .aboutUs{
                    width: 80%;
                }
                .feature{
                    width: 80%;
                }
                .paragraph{
                    width: 80%;
                }
            }
            .footerBottom{
                width: 100%;
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    header{
        width: 100%;
        .container{
            width: 95%;
            display: flex;
            justify-content: space-between;
            .logo{
                width: 50%;
                h1{
                    font-size: 30px;
                    letter-spacing: 3;
                }
            }
            nav{
                display: none;
            }
            .menu{
                width: 10%;
                display: block;
                i{
                    width: 100%;
                    color: black;
                    font-size: 22px;
                }
            }
            .basket{
                width: 8%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                a{
                    text-decoration: none;
                    i{
                        font-size: 22px;
                        color: rgb(60, 60, 60);
                    }
                    transition: 0.5s;
                    &:hover{
                        color: rgb(253, 95, 0);
                        transition: 0.5s;
                    }
                }
                .number{
                    font-size: 12px;
                    font-weight: 600;
                    // background-color: rgba(254, 146, 83, 0.423);
                    position: absolute;
                    top: -15px;
                    left: 65px;
                }
            }
        }
    }
    #bgImg{
        width: 100%;
        .container{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
    #feedBack{
        width: 100%;
        .container{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .firstCard{
                width: 33.33%;
                .cardText{
                    h2{
                        font-size: 32px;
                        letter-spacing: 2;
                    }
                    p{
                        font-size: 18px;
                    }
                }
            }
            .secondCard{
                width: 33.33%;
                .cardText{
                    h2{
                        font-size: 32px;
                        letter-spacing: 2;
                    }
                    p{
                        font-size: 18px;
                    }
                }
            }
            .thirtyCard{
                width: 33.33%;
                .cardText{
                    h2{
                        font-size: 32px;
                        letter-spacing: 2;
                    }
                    p{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    #contentBox{
        width: 100%;
        .container{
            width: 90%;
            .contentsCards{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 20px;
                .contentsCard{
                    width: 45%;
                }
            }
        }
    }
    #ourLeadership{
        width: 100%;
        .container{
            width: 90%;
            .ourLeadershipText{
                width: 55%;
                h2{
                    font-size: 32px;
                    font-weight: 500;
                }
            }
            .ourLeaderShipCards{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                margin: 40px 0;
                gap: 20px;
                .ourLeaderShipCard{
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .cardText{
                        width: 80%;
                        p{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    #ourBlog{
        width: 100%;
        .container{
            width: 90%;
            .ourBlogText{
                width: 70%;
                h2{
                    font-size: 40px;
                }
            }
            .ourBlogCards{
                width: 90%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 30px;
                .ourBlogCard{
                    width: 100%;
                    .cardImg{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    header{
        width: 100%;
        .container{
            width: 80%;
            display: flex;
            justify-content: space-evenly;
            .logo{
                width: 50%;
                h1{
                    font-size: 32px;
                    letter-spacing: 3;
                }
            }
            nav{
                width: 60%;
                display: flex;
                justify-content: center;
                align-items: center;
                ul{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    li{
                        list-style: none;
                        a{
                            text-decoration: none;
                            font-size: 20px;
                            font-weight: 400;
                            color: black;
                        }
                    }
                }
            }
            .menu{
                display: none;
            }
            .basket{
                width: 6%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                a{
                    text-decoration: none;
                    i{
                        font-size: 22px;
                        color: rgb(60, 60, 60);
                    }
                    transition: 0.5s;
                    &:hover{
                        color: rgb(253, 95, 0);
                        transition: 0.5s;
                    }
                }
                .number{
                    font-size: 12px;
                    font-weight: 600;
                    // background-color: rgba(254, 146, 83, 0.423);
                    position: absolute;
                    top: -15px;
                    left: 65px;
                }
            }
        }
    }
    #bgImg{
        width: 100%;
        .container{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
    #feedBack{
        width: 100%;
        .container{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .firstCard{
                width: 33.33%;
                .cardText{
                    h2{
                        font-size: 32px;
                        letter-spacing: 2;
                    }
                    p{
                        font-size: 20px;
                    }
                }
            }
            .secondCard{
                width: 33.33%;
                .cardText{
                    h2{
                        font-size: 32px;
                        letter-spacing: 2;
                    }
                    p{
                        font-size: 20px;
                    }
                }
            }
            .thirtyCard{
                width: 33.33%;
                .cardText{
                    h2{
                        font-size: 32px;
                        letter-spacing: 2;
                    }
                    p{
                        font-size: 20px;
                    }
                }
            }
        }
    }
    #contentBox{
        width: 100%;
        .container{
            width: 90%;
            .contentsCards{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 20px;
                .contentsCard{
                    width: 30%;
                }
            }
        }
    }
    #ourLeadership{
        width: 100%;
        .container{
            width: 90%;
            .ourLeadershipText{
                width: 60%;
                h2{
                    font-size: 64px;
                    font-weight: 500;
                }
            }
            .ourLeaderShipCards{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                margin: 40px 0;
                gap: 20px;
                .ourLeaderShipCard{
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .cardText{
                        width: 80%;
                        p{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    #ourBlog{
        width: 100%;
        .container{
            width: 80%;
            .ourBlogText{
                width: 70%;
                h2{
                    font-size: 62px;
                }
            }
            .ourBlogCards{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 30px;
                .ourBlogCard{
                    width: 47%;
                    .cardImg{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}