#contentBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    .container{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 40px 0;
        gap: 30px;
        h2{
            font-size: 40px;
            font-weight: 600;
            color: rgb(254, 147, 83);
            border-bottom: 2px solid rgb(253, 95, 0);
        }
        .contentsCards{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            .contentsCard{
                background-color: rgba(85, 107, 47, 0.099);
                border: 3px solid rgb(254, 147, 83);
                border-radius: 5px;
                width: 30%;
                // height: 500px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 20px 5px;
                .cardImg{
                    width: 100%;
                    height: 250px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 90%;
                        height: 250px;
                        border-radius: 3px;
                    }
                }
                .cardText{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    padding: 5px;
                    gap: 10px;
                    h3{
                        font-family: 'Anton';
                        color: rgb(253, 95, 0);
                        font-size: 24px;
                        font-weight: 500;
                    }
                    p{
                        color: rgb(147, 147, 147);
                        font-size: 18px;
                        font-weight: 400;
                    }
                    span{
                        color: rgb(255, 98, 0);
                        font-size: 22px;
                        font-weight: 700;
                    }
                    .btnBox{
                        width: 90%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        button{
                            background-color: transparent;
                            border: 2px solid rgb(254, 147, 83);
                            border-radius: 3px;
                            color: rgb(253, 95, 0);
                            font-size: 18px;
                            font-weight: 400;
                            padding: 5px 10px;
                            transition: 1s;
                            &:hover{
                                transition: 1s;
                                cursor: pointer;
                                background-color: rgba(253, 97, 0, 0.162);
                            }
                        }
                    }
                }
            }
        }
    }
}